.mainDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #241937;
}

.mainTitle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainTitleContacts {
    margin-top: auto;
}